body {
  margin: 0;
  background: #f4f1f8;
}

.table-kitchen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}
.table-kitchen table {
  border-collapse: collapse;
  line-height: 1.1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: radial-gradient(farthest-corner at 50% 50, white, #dcecf8);
  color: #0c213a;
}
caption {
  font-family: "Times New Roman", cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  color: #2626f3;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
caption:before,
caption:after {
  content: "\274B";
  color: blueviolet;
  margin: 0 10px;
}
.sweet span:before {
  content: "\274B";
  color: blueviolet;
  margin: 0 10px;
}

th {
  padding: 10px;
  border: 1px solid #2626f3;
}

td {
  font-size: 0.8em;
  padding: 5px 7px;
  border: 0.3px solid #2626f3;
}
tr {
  border: 1px solid #a6e2c9;
}
span {
  display: inline-block;
  color: #2626f3;
}
span:first-letter {
  text-transform: capitalize;
}
span:before {
  content: "-";
  padding: 0 2px;
}

.table-toy-store {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-toy-store tr:nth-child(even) {
  background-color: #f2f6e9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table-toy-store tr:nth-child(odd) {
  background-color: #a0c4ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table-toy-store th,
.table-toy-store td {
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 14px;
}

.table-toy-store th {
  background-color: #4caf50;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 15px;
}

.table-toy-store td {
  border-radius: 8px;
}

.table-toy-store tr:hover {
  background-color: #ddd;
}

caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #333;
}

col {
  background: #2626f3;
}

/* .table-kitchen tr:nth-child(even) {
  background-color: #cf45bb;
}

.table-kitchen tr:nth-child(odd) {
  background-color: #b1c2ec;
} */
.col1 {
  background-color: #d3b7c9;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.col2 {
  background-color: #4caf50;
}
.col3 {
  background-color: #a01c72;
}
